<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/static/images/transport-logistic-manager-engineer-checking-generative-ai-illustration_145713-1316.webp">
    <link rel="stylesheet" href="/static/styles/contactus.css">
</head>
<body>
    <img src="/static/images/contactus.jpg" alt="">
    <div class="header">
        <a href="/">Home</a>
    </div>
    <div class="contact">
        <div class="form">
            <form action="/contactus" method="post">
                <p style="font-size: 20px;"><b>If you have any queries</b></p>
                <label for="" style="font-size: 20px;"><b>Contact Us:</b></label><br>
                <label for="name">Name:</label><br>
                <input type="text" name="name" id="name" class="name" placeholder="Enter your name" required><br>
                <label for="name">Email:</label><br>
                <input type="text" name="email" id="email" class="email" placeholder="Enter your email" required><br>
                <label for="name">Message:</label><br>
                <textarea name="msg" id="msg" cols="25" rows="6" placeholder="message" required></textarea><br>
                {% if message %}
                    <p style="color: green;" id="message">{{message}}</p>
                {% endif %}
                <input type="submit" class="submit">
            </form>
        </div>
        <div class="info">
            <p style="font-size: 23px;">If you like to Contact us</p><br>
            <h3><span class="bx bxs-phone"> </span>&nbsp;+1 800800800</h3><br>
            <h3><span class="bx bxs-envelope"> </span>&nbsp;info@support.com</h3><br>
            <h3><p><span class="bx bxs-location-plus"></span>&nbsp;4421 Lobella Ct. Chester Springs, </p></h3>
            <h3><p>&nbsp;PA 19425 United States of America</p></h3>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(() => {
                document.getElementById('message').style.display = "none";
            }, 3000);
        })
    </script>
</body>
</html>