<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" href="/static/images/transport-logistic-manager-engineer-checking-generative-ai-illustration_145713-1316.webp">
    <link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>
    <img src="/static/images/home.jpg" alt="">
    <div class="header">
        <a href="/">Home</a>
        <a href="/contactus">Contact Us</a>
    </div>
    <div class="detail">
        <h1>SCMXpert</h1>
        <p>SCMXpert’s global solutions track the quality, Integrity, and Security of Cargo at every stage of the journey. Our best of breed products, global command & control center and value-added services help our customers safeguard their products no matter their industry or location. We work with our customers to align with their bottomline while providing innovative solutions.</p>
        <a href="/login"><button>Login</button></a>
    </div>
</body>
</html>